<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--private int id;-->
<!--private String tentruong;-->
<!--private String vitri;-->
<!--private Double xephang;-->
<!--private String loaidaotao;-->
<table border="1px">
  <tr>
    <th>ID</th>
    <th>Tên Trường</th>
    <th>Vị trí</th>
    <th>Xếp hạng</th>
    <th>Loại đào tạo</th>
  </tr>
  <tr th:each="uni : ${list}">
    <td th:text="${uni.id}"></td>
    <td th:text="${uni.tentruong}"></td>
    <td th:text="${uni.vitri}"></td>
    <td th:text="${uni.xephang}"></td>
    <td th:text="${uni.loaidaotao}"></td>
    <td><a th:href="@{'/university/view?id=' + ${uni.id} }">View</a> </td>
    <td><a th:href="@{'/university/edit/' + ${uni.id} }">Edit</a> </td>
    <td><a th:href="@{'/university/delete/' + ${uni.id} }">Delete</a> </td>
  </tr>

</table>
</body>
</html>